@import "../../scss/variables";

.file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */


.inputfile {
  border: 5px;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
//
.inputfile + label {
  //width: 200px;
  display: inline-block;
  outline: none;
  border-radius: 10px;
  background: #08CCCC;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 10px 50px;
  border: 1px solid #08CCCC;
  margin: 10px auto;
  cursor: pointer;
}

.inputfile + label:hover {
  box-shadow: 1px 2px 15px rgba(0,0,0,0.5);
}



//
//.inputfile:focus + label {
//  outline: 1px dotted #000;
//  outline: -webkit-focus-ring-color auto 5px;
//}