@import "variables";

html, body {
  height: 100%;
  width:100%;
  background-color: $background-color;
  box-sizing: content-box !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a.active, button.active {
  color: $primary-color;
}

.hmax-percentage {
  height:100%;
}

a.active:hover, button.active:hover {
  font-weight: bold;
}
