<md-card class="hmax-percentage">
  <md-card-title-group>
    <!--<md-card-title>{{"ABOUT.TITLE" | translate}}</md-card-title>-->
  </md-card-title-group>
  <md-card-content>
    <!--<p>Jednym z rozwiązań problemu oceny jakości sygnału dzwiękowego, obok metod obiektywnych takich jak pomiar SNR lub-->
      <!--THD+N są metody subiektywne – opierające się na indywidualnym wrażeniu słuchacza.-->
      <!--Przykładowymi obszarami zastosowania testów subiektywnych są ocena jakości kodowania dzwięku (np. ocena jakości-->
      <!--kompresji stratnej), czy ocena algorytmu przetwarzania dzwięku (np. algorytmu redukcji szumów).-->
      <!--Celem niniejszej pracy było stworzenie portalu internetowego umożliwiającego przeprowadzenie subiektywnych testów-->
      <!--odsłuchowych i porównawczych, a także ich automatycznej analizy statystycznej. Zaimplementowane metodologie oceny-->
      <!--jakości dzwięku to ABX Test oraz metodologia bazująca na rekomendacji ITU-R: ITU-R BS.1534-3.-->
      <!--Portal internetowy rozwiązuje niektóre problemy związane z odsłuchowymi testami subiektywnymi,-->
      <!--m.in. konieczność zgromadzenia grupy osób w jednym miejscu i czasie, czy konieczność manualnego wykonania analizy-->
      <!--statystycznej.-->
    <!--</p>-->
    <!--<md-divider></md-divider>-->
    <h4>{{"ABOUT.IMPLEMENTED_METHODS" | translate}}</h4>
    <md-list>
      <md-list-item>{{"ABOUT.ABX_TEST" | translate}}</md-list-item>
      <md-list-item>{{"ABOUT.ITU-R_BS.1534-3-BASED" | translate}}</md-list-item>
    </md-list>
    <md-divider></md-divider>
    <h4>{{"ABOUT.CONTACT" | translate}}</h4>
    <md-list>
      <md-list-item>E-mail: marcin.milewski@mail.com</md-list-item>
    </md-list>
  </md-card-content>
</md-card>
