<md-card class="hmax-percentage">
  <md-card-subtitle>System powstał w wyniku realizacji pracy dyplomowej na Wydziale Informatyki
    Politechniki Białostockiej
  </md-card-subtitle>
  <md-card-content>
    <div class="flex-container hmax-percentage" fxLayout="column" fxLayoutAlign="center stretch">
      <div class="flex-item" fxFlex>
      </div>
      <p>Witaj na portalu Internetowym pozwalającym na tworzenie i uczestnictwo w testach odsłuchowych, pozwalających na
        ocenę jakości dzwięku</p>
      <p>Jako anonimowy użytkownik, możesz wziąć udział tylko w testach w których twórca
        pozwala na udział użytkownikom anonimowym. <br>
        Po utworzeniu konta użytkownika możesz tworzyć własne grupy testowe i sprawdzać statystyki swoich
        testów, możesz brać też udział we wszystkich testach odsłuchowych.</p>
      <p>Aby wziąć udział w dowolnym teście odsłuchowym, jako słuchacz musisz zaakceptować Oświadczenie
        Uczestnika, a następnie stosować się do instrukcji zamieszczanej przez twórcę do każdego testu.<br>
        Jako twórca przed stworzeniem grupy testowej musisz zaakceptować Oświadczenie Twórcy.<br>
        <a href="/terms">Kliknij aby zobaczyć cały tekst obu oświadczeń.</a>
      </p>

      <p>Rozwijane menu serwisu znajduje się w lewym górnym rogu strony i widoczne będzie po kliknięciu w
        nastepującą ikonę:
        <svg style="width:24px;height:24px" viewBox="0 0 24 10">
          <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
        </svg>
        .
        <br>
        Po zalogowaniu się w portalu pojawią się tam też dwie nowe zakładki prowadzące do kreatora testów i
        menadżera testów.
      </p>
      <p>Jeśli masz jakieś uwagi, propozycje lub zauważyłeś błąd, proszę o wypełnienie krótkiego
        <a href="/generalPooling">formularza</a>.</p>
      <br>
      <md-divider></md-divider>
      <h5>{{"ABOUT.IMPLEMENTED_METHODS" | translate}}:</h5>
      <ul>
        <li style="margin-left: 20px">{{"ABOUT.ABX_TEST" | translate}}</li>
        <li style="margin-left: 20px">{{"ABOUT.ITU-R_BS.1534-3-BASED" | translate}}</li>
      </ul>
    </div>
  </md-card-content>
</md-card>
